{% extends 'layout/basic.html' %}
{% load bootstrap4 %}
{% load static %}
{% block title %}Добавить тренировку{% endblock title %}

{% block content %}
<h2>Добавление тренировки</h2>    
 
<div class="form-form-check-label">

<form method="post" class='form-check'>
    {% csrf_token %}
    {% bootstrap_form form %}
    
      {% for formset in inlines %}
        <h3>Упражнения</h3>
        <div class='table-bordered'>
        
          {{ formset.as_p }}
        </div>
        
      {% endfor %}

  <p></p>    
  {% buttons submit='Добавить тренировку' %}{% endbuttons %}  
</form>


{% endblock content %}    

