{% extends 'layout/basic.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}{{ workout.name }} - {{workout.created_at}}{% endblock title %}

{% block content %}
{% if exercises %}
<div>
<ul class="list-inline">
    <h2>{{ workout.name }}</h2>
    <h5>{{ workout.comment }}</h5>
    <h2>{{ workout.created_at }}</h2>
</ul>
</div>
    {% for exercise in exercises %}
        <div class="mb-auto">
            <h5><a href="#">{{ exercise.name }}</a></h5>
            <p class="text-right font-weight-bold"></p>
            <p class="text-right font-italic"></p>
            <p class="text-right mt-2">
            <a href="{% url 'main:set_add' workout_pk=workout.pk exercise_id=exercise.id %}">Добавить/изменить подходы</a>
            <a href="#">Удалить</a></p>
            <div class='table'>
                <nav class="col-md-auto nav flex-column border">
                    {% for set in exercise.setdescription_set.all %}
                        {{ set.number }}
                        {{ set.weight }}
                        {{ set.repeats }}
                    {% endfor %}
                </nav>
            </div>
        </div>
    </li>   
    {% endfor %}
</ul>
{% endif %}
<p><a href="{% url 'main:workout_delete' workout_pk=workout.pk %}">Удалить тренировку</a></p>
{% endblock content %}