{% extends 'layout/basic.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}{{ workout.name }} - {{workout.created_at}}{% endblock title %}

{% block content %}
{% if exercises %}
<div>
<ul class="list-inline">
    <h2>{{ workout.name }}</h2>
    <h5>{{ workout.comment }}</h5>
    <h2>{{ workout.created_at }}</h2>
</ul>
</div>
    {% for exercise in exercises %}
        <div class="mb-auto">
            <div class="jumbotron">
                <h5><a href="{% url 'main:sets_change' workout_pk=workout.pk exercise_id=exercise.id %}">{{ exercise.name }}</a></h5>
                <p class="text-right font-weight-bold"></p>
                <p class="text-right font-italic"></p>
                <p class="text-right mt-2">
                <a href="{% url 'main:set_delete' workout_pk=workout.pk exercise_id=exercise.id %}">Удалить упражнение</a></p>
                <div class='media-body'>
                    <nav class="col-md-auto nav flex-column border">
                        
                        <table>
                        {% for set in exercise.setdescription_set.all %}
                            <td>
                               <p>Подход № {{ set.number }}</p>
                               <p> {{ set.weight }} кг.</p>
                               <p> {{ set.repeats }} повторов</p>
                            </td>
                        {% endfor %}
                        </table>    
                        
                    
                    </nav>
                </div>
            </div>  
        </div>
    </li>   
    {% endfor %}
</ul>
{% endif %}
<p><a href="{% url 'main:workout_delete' workout_pk=workout.pk %}">Удалить тренировку</a></p>
<p><a href="{% url 'main:set_add' workout_pk=workout.pk %}">Добавить упражнение</a></p>
{% endblock content %}